xsl/Feed_XSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--
Copyright (c) 2009, Yoav Aviram
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in
the documentation and/or other materials provided with the distribution.
* Neither the name of the author nor the names of its
contributors may be used to endorse or promote products derived
from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->
	<xsd:element name="feed" type="feedNodeType" />
	
	<xsd:complexType name="feedNodeType">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded" minOccurs="1">
				<xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="language" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="copyright" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorName" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorEmail" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="imageUrl" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="imageText" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="categories" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="category" type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="entry" type="entryNodeType" minOccurs="0" maxOccurs="unbounded" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="format" type="feedType"/>
		<xsd:attribute name="version" type="xsd:string" />
	</xsd:complexType>

    <xsd:complexType name="enclosureNodeType">
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="url" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="size" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
	
	<xsd:complexType name="entryNodeType">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="entryUniqueId" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="publishDateTime" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="lastUpdatedDateTime" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="url" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorEmail" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorName" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="originalEntryId" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="enclosures" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="enclosure" type="enclosureNodeType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="categories" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="category" type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="content" minOccurs="0" maxOccurs="1">
                    <xsd:complexType mixed="true">
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:any minOccurs="0" processContents="skip" />
                            </xsd:choice>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="feedType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RSS" />
			<xsd:enumeration value="Atom" />
			<xsd:enumeration value="RDF" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
